body {
    background-color: rgb(0, 74, 85);
}

#imagem{
    background-color: aliceblue;

}


.title{
    color: white;
}


ol {
    font-weight: bold;
    font-size: 28px;
    color: rgb(172,92,45);
    padding: 25px;
    margin-left: 25px;
    
}

#output {
    font-weight: bold;
    font-size: 28px;
    color: hwb(0 100% 0%);
    padding: 25px;
}

#sort{

    width: 200px;
    height: 80px;
    border-radius: 15px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(32, 21, 6);
}